---
layout: "base.njk"
title: "Eleventy Blog - Home"
pagination: 
    data: collections.blogs
    size: 2
    reverse: true
    alias: posts
permalink: /{{ pagination.pageNumber + 1 }}/index.html
---

{% for post in posts %}
    <article>
        <h1>{{ post.data.title }}</h1>
        <small>{{ post.date | date_UTC }}</small>
        <p>{% excerpt post %}</p>
        <a href='{{ post.url }}'>Read more</a>  
    </article>

{% endfor %}


    <div class="navigation"> 
        {% for i in range(0, 3) %}       
        <a href='/{{i + 1}}' title='{{i + 1}}' {% if pagination.pageNumber === i %}class= 'active'{% endif %}>{{i + 1}}</a>
        {% endfor %}
    </div>

